
  
  .container {

    display: flex;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns:20% 80%;
    overflow: hidden;
    font-family: Roboto, sans-serif !important;

  }
  
  .container::-webkit-scrollbar{
    display: none;
  }
  