.main-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  position: relative;
}

.record_list_top_container{
  width: 100%;
  height: fit-content;
}

.record_list_bottom_container{
  overflow: scroll;
  height: 75vh;
}

.record_list_bottom_container::-webkit-scrollbar {
  width: 5px;
  height: 0; /* Hide the horizontal scrollbar */
}

.record_list_bottom_container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.record_list_bottom_container::-webkit-scrollbar-thumb {
  background: #979a9cce;
  border-radius: 5px;
}

.record_list_bottom_container::-webkit-scrollbar-thumb:hover {
  background: #979a9cce;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.header_left {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}

.header_left svg {
  font-weight: 600;
  color: #666;
}

.header_right {}

.header h2 {
  color: #b5b7c0;
  font-size: 1.5rem;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
}

.collection_title {
  color: #333c48;
  margin-left: 10px;
}

.new-record-button {
  padding: .7rem 2rem;
  background-color: #e15a2d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.new-record-button:hover {
  background-color: #333;
}

.search_box_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 2rem 2rem;
  height: 3rem;
}

.search-term-box {
  outline: 0;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 40px;
  padding: 5px 7px;
  margin: 0;
  white-space: nowrap;
  color: #666f75;
  background: #e4e9ec;
  border-radius: 44px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 15px;
  gap: 8px;
}

.data-table{
  padding-bottom: 3rem;
  
}

.time-part{
  font-size: 11px;
  color:#666;
}
.data-table input {
  accent-color: #e15a2d;
}

.search_icons {
  color: #666f75;
}

.search-term-box input {
  width: 90%;
  border: none;
  background: transparent;
  outline: none;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  background-color: #e15a2de3;
  color: white;
  border: none;
  border-radius: 40px;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 21px;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.search-button.visible {
  opacity: 1;
  transform: translateX(0);
}

.search-button.hidden {
  opacity: 0;
  transform: translateX(100%);
  pointer-events: none;
}

.table_main_container { 
height:100%;
}




.table-container {
  display: flex;
  justify-content: start;
  align-items: start;
  height:100%;
  border-radius: 4px;
  width: 100%;
}




.data-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
}

.data-table th input {
  background: white;
  border: 2px solid #8989d2;
  min-height: 20px;
  font-weight: 400;
  font-size: 14.5px;
  text-transform: none;
  color: #8989d2;
}

.data-table th {
  color: #b5b7c0;
  font-weight: 600;
  font-size: 16px;
  user-select: none;
  height: 50px;
  border-bottom: 1px solid #d7dde4;
  max-width: 300px;
  padding-right: 2rem;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-table td {
  outline: 0;
  vertical-align: middle;
  position: relative;
  text-align: left;
  padding-right: 2rem;
  border-bottom: 1px solid #d7dde4;
  max-width: 300px;
  min-height: 20px;
  font-weight: 100;
  font-size: 14px;
  height: 48px;
  color: #333c48;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time-part{
  
}

.data-table .Arrow_icon {
  color: #e15a2d;
}

.data-table tbody tr {}

.data-table tbody tr:hover {
  background-color: #f3f4f6;
}

.data-table input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.data-table td a {
  color: #3b82f6;
  text-decoration: none;
}

.data-table td a:hover {
  text-decoration: underline;
}

.total_count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2rem;
  color: #333c48;
  font-size: 10px;
  height: 2rem;
  background: #fff;
}
.total_count_P{
  font-size: 14px;
  color: #333c48;
  position: absolute;
  left: 0;
  margin-left: 1rem;
}

.no-records-found {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 14px;
}
